%section#content
  .container
    .row
      .col-md-12
        .content-wrap
          -# Filter by
    .row
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-gdg.png', class: 'img-responsive', data: {target: '#myModal', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 Google Developers Group (GDG) Philippines
          .comm-wrap-top2
            %p.comm-p Google Developer Group (GDG) Philippines is a group of enthusiastic Filipino developers interested to collaborate and learn more about new technologies.
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "http://www.gdgph.org"} www.gdgph.org
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "http://www.facebook.com/gdgphilippines "} www.facebook.com/gdgphilippines
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "http://@GDGPhilippines"} @GDGPhilippines
        / Modal
        #myModal.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-gdg.png', class: 'img-responsive'
                .modal-wrap1
                  .text-center
                    %h4 Google Developers Group (GDG) Philippines
                  %p Google Developer Group (GDG) Philippines is a group of enthusiastic Filipino developers interested to collaborate and learn more about new technologies.
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "http://www.gdgph.org"} www.gdgph.org
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "http://www.facebook.com/gdgphilippines "} www.facebook.com/gdgphilippines
                  %p.twit
                    %i.fa.fa-twitter
                    %a{:href => "http://@GDGPhilippines"} @GDGPhilippines
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-mozilla.png', class: 'img-responsive', data: {target: '#myModal2', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 Mozilla Philippines Community (MozillaPH)
          .comm-wrap-top2
            %p.comm-p
              Mozilla Philippines Community is the official Mozilla-supported community initiative in the Philippines.
              %br/
              = succeed "Initiated" do
                %br/
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "http://www.mozillaphilippines.org"} www.mozillaphilippines.org
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "http://www.facebook.com/mozillaphilippines "} www.facebook.com/mozillaphilippines
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "http://@MozillaPH"} @MozillaPH
        / Modal
        #myModal2.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-mozilla.png', class: 'img-responsive'
                .modal-wrap1
                  .text-center
                    %h4 Mozilla Philippines Community (MozillaPH)
                  %p
                    Mozilla Philippines Community is the official Mozilla-supported community initiative in the Philippines.
                    %br/
                    = succeed "Initiated" do
                      %br/
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "http://www.mozillaphilippines.org"} www.mozillaphilippines.org
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "http://www.facebook.com/mozillaphilippines "} www.facebook.com/mozillaphilippines
                  %p.twit
                    %i.fa.fa-twitter
                    %a{:href => "http://@MozillaPH"} @MozillaPH
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-phrug.png', class: 'img-responsive', data: {target: '#myModal3', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 Philippine Ruby Users Group (PhRUG)
          .comm-wrap-top2
            %p.comm-p Philippine Ruby Users Group (PhRUG) is a bunch of professionals and hobbyists who share a passion in programming with Ruby.
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "http://www.pinoyrb.org"} www.pinoyrb.org
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "http://www.facebook.com/phrug  "} www.facebook.com/phrug
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "#"} :( not available
        / Modal
        #myModal3.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-phrug.png', class: 'img-responsive'
                .modal-wrap1
                  .text-center
                    %h4 Philippine Ruby Users Group (PhRUG)
                  %p.comm-p Philippine Ruby Users Group (PhRUG) is a bunch of professionals and hobbyists who share a passion in programming with Ruby.
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "http://www.pinoyrb.org"} www.pinoyrb.org
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "http://www.facebook.com/phrug  "} www.facebook.com/phrug
    %hr/
    %hr/
    .row
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-igda.png', class: 'img-responsive', data: {target: '#myModal4', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 International Game Developers Association - Manila
          .comm-wrap-top2
            %p.comm-p PGDC is a non-profit professional society that is committed to advancing the careers and enhancing the lives of game developers by connecting members with their peers, promoting professional development, and advocating on issu...
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "#"} :( not available
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "http://www.facebook.com/groups/igdamanila "} www.facebook.com/groups/igdamanila
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "#"} :( not available
        / Modal
        #myModal4.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-igda.png', class: 'img-responsive'
                .modal-wrap1
                  .text-center
                    %h4 International Game Developers Association - Manila
                  %p
                    PGDC is a non-profit professional society that is committed to advancing the careers and enhancing the lives of game developers by connecting members with their peers, promoting professional development, and advocating on issues that affect the developer community.
                    %br/
                    = succeed "PGDC" do
                      %br/
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "#"} :( not available
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "http://www.facebook.com/groups/igdamanila "} www.facebook.com/groups/igdamanila
                  %p.twit
                    %i.fa.fa-twitter
                    %a{:href => "#"} :( not available
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-drupal.png', class: 'img-responsive', data: {target: '#myModal5', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 Drupal Pilipinas
          .comm-wrap-top2
            %p.comm-p Drupal Pilipinas Inc. is a group of Developers, Designers, Students, Professionals that works together in a passionate environment to promote Open Source Like Drupal as a platform.
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "http://www.drupalpilipinas.org"} www.drupalpilipinas.org
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "http://www.facebook.com/DrupalPilipinas  "} www.facebook.com/DrupalPilipinas
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "http://@DrupalPilipinas "} @DrupalPilipinas
        / Modal
        #myModal5.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-drupal.png'
                .modal-wrap1
                  .text-center
                    %h4 Drupal Pilipinas
                  %p.comm-p Drupal Pilipinas Inc. is a group of Developers, Designers, Students, Professionals that works together in a passionate environment to promote Open Source Like Drupal as a platform.
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "http://www.drupalpilipinas.org"} www.drupalpilipinas.org
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "http://www.facebook.com/DrupalPilipinas  "} www.facebook.com/DrupalPilipinas
                  %p.twit
                    %i.fa.fa-twitter
                    %a{:href => "http://@DrupalPilipinas "} @DrupalPilipinas
      .col-md-4
        / Button trigger modal
        .comm-wrap
          = image_tag 'community-phpug.png', class: 'img-responsive', data: {target: '#myModal6', toggle: 'modal'}
          .comm-wrap-top.text-center
            %h4 PHP Users Group Philippines (PHPUGPH)
          .comm-wrap-top2
            %p.comm-p PHP Users Group Philippines (PHPUGPH) is a non-profit organization established to provide support for LAMP (Linux, Apache MySQL, PHP) and open-source enthusiasts in the Philippines.
            %hr/
            %hr/
            %p.globe
              %i.fa.fa-globe
              %a{:href => "http://www.phpugph.com"} www.phpugph.com
            %p.fb
              %i.fa.fa-facebook
              %a{:href => "www.facebook.com/PHP-User-Group..."} www.facebook.com/PHP-User-Group
            %p.twit
              %i.fa.fa-twitter
              %a{:href => "#"} :( not available
        / Modal
        #myModal6.modal.modal-wrap.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-body
                = image_tag 'community-phpug.png', class: 'img-responsive'
                .modal-wrap1
                  .text-center
                    %h4 PHP Users Group Philippines (PHPUGPH)
                  %p.comm-p PHP Users Group Philippines (PHPUGPH) is a non-profit organization established to provide support for LAMP (Linux, Apache MySQL, PHP) and open-source enthusiasts in the Philippines.
                  %hr/
                  %hr/
                  %p.globe
                    %i.fa.fa-globe
                    %a{:href => "http://www.phpugph.com"} www.phpugph.com
                  %p.fb
                    %i.fa.fa-facebook
                    %a{:href => "www.facebook.com/PHP-User-Group..."} www.facebook.com/PHP-User-Group
                  %p.twit
                    %i.fa.fa-twitter
                    %a{:href => "#"} :( not available
    %hr/
    %hr/
    %hr/
    %hr/
    %hr/
    %hr/
    -# .row
    -#   .col-md-12.text-center
    -#     %button.btn.btn-default.btn-load{:type => "button"} LOAD MORE COMMUNITIES
    %hr/
    %hr/
    %hr/
    %hr/
    %hr/
    %hr/
